#opscode_index, #opscode_about_node_monitor, #opscode_gist {

  #node_monitor {
    max-width: 960px;
    margin: 0 auto;

    &.running {

      .head_tool_bar {

        a {
          display: none;
        }

        span {
          display: inline;
        }
      }
    }

    .head_tool_bar {
      margin: 25px 0 10px;
      position: relative;

      h1 {
        font-family: 'SubwayTicker';
        font-size: 100px;
        display: inline;
      }

      a, span {
        @include border-radius(2px);
        border: 1px solid;
        padding: 5px 10px;
        position: absolute;
        right: 0;
        bottom: 0;
      }

      span {
        display: none;
        color: $_666;
      }
    }

    #view_port {
      border: 1px solid $_fff;
      height: 400px;
      overflow-x: hidden;
      position: relative;
      padding: 5px;
      background: $_111;

      #stdout {
        font-size: 12px;
        line-height: 25px;

        p {

          &.abort, &.chef {
            color: $_666;
          }

          &.chef {
            font-family: Monospace;
            line-height: 16px;
          }
        }

        div.chef {

          div {
            line-height: 10px;
          }
        }
      }
    }

    .foot_tool_bar {
      text-align: right;
      padding: 10px 10px 10px 0;
      border-bottom: 1px solid $_fff;

      #loader {
        float: left;
        margin-right: 15px;

        img {
          display: none;
        }
      }

      #status {
        font-size: 12px;
        color: $_666;
        float: left;
      }

      #actions {

        a {
          margin-left: 25px;
        }

        span {
          margin-left: 30px;
        }
      }
    }
  }

  footer {
    font-size: 11px;
    margin: 0 auto;
    padding: 15px 0 17px;
    width: 960px;

    a {
      color: $_fff;

      &:hover {
        color: $_ffff00;
      }
    }

    a, span {
      margin-right: 10px;
    }
  }

  .about {
    color: $_fff;
    margin: 25px auto;
    width: 960px;
    font-size: 14px;

    p {
      padding: 10px 0;
      line-height: 25px;
    }

    a.back, a.back + span, a.gist {
      font-size: 11px;
      margin-right: 10px;
    }
  }

  .gist {
    margin: 0 auto;
    width: 960px;
    font-size: 14px;

    .markdown-body {
      padding: 5px 20px;

      h1 {
        font-size: 25px;
        margin: 25px 0 10px;
        border-top: 1px dashed $_ccc;
        padding-top: 20px;

        &:first-child {
          border-top: none;
          padding-top: 0;
          margin: 10px 0;
        }

      }

      h4 {
        font-style: italic;
        margin: 10px 0;
        color: $_666;
      }

      .highlight {
        background: $_fff;
        border: 1px solid $_ccc;
        padding: 20px;
      }
    }
  }

  div.back {
    margin: 0 auto;
    width: 960px;
    font-size: 11px;

    p {
      padding-bottom: 15px;
      line-height: 25px;
    }

    a, span {
      display: inline;
      margin-right: 10px;
    }
  }
}
