#opscode_index {

  #node_monitor {
    max-width: 960px;
    margin: 0 auto;

    .head_tool_bar {
      margin: 25px 0 10px;
      position: relative;

      h1 {
        font-family: 'SubwayTicker';
        font-size: 100px;
      }

      a {
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }

    #view_port {
      border: 1px solid $_fff;
      height: 300px;
      overflow-x: hidden;
      position: relative;
      padding: 5px;

      #stdout {
        font-size: 12px;
        line-height: 25px;

        p {

          &.kill {
            color: $_666;
          }
        }
      }
    }

    .foot_tool_bar {
      text-align: right;
      padding: 10px;
      border-bottom: 1px solid $_fff;

      #status {
        font-size: 14px;
        color: $_666;
        float: left;
      }
    }
  }
}
