%section#opscode_gist

  #node_monitor.running

    .head_tool_bar

      %h1 Node Monitor

      %span a few highlights

  .gist= javascript_include_tag 'https://gist.github.com/trotttrotttrott/5106668.js'

  .back

    %p

      = link_to '<<<<< back', opscode_path

      %span :

      = link_to 'about', opscode_about_node_monitor_path
