%h1 Merry Christmas

%div
  <object type="application/x-shockwave-flash" id="ecard_preview_swf_327272295" name="ecard_preview_swf_327272295" data="http://static.jibjabcdn.com/sendables/9ecbb06a/client/zero/ClientZero_EmbedViewer.swf" width="567" height="319"><param name="wmode" value="transparent"><param name="allowScriptAccess" value="always"><param name="allowFullScreen" value="true"><param name="allowNetworking" value="all"><param name="flashvars" value="categoryID=69&amp;service=www.jibjab.com&amp;partnerID=holidays&amp;state=teaser&amp;autoplay=true&amp;context=personalize&amp;external_make_id=F8mGILzETb-2cY9X0f17yQ&amp;cornerRadius=10"></object>
