#public_home_index {
  text-align: center;

  #north {
    border-top: 1px solid $_07ff00;
    border-bottom: 1px solid $_07ff00;
    overflow: hidden;

    div {
      margin: 0 40px;
      font-family: 'SubwayTicker';
      font-size: 50px;
      letter-spacing: 10px;
      line-height: 80px;
    }
  }

  #central {
    background: asset-url('public/home/horizontal_stripe_pattern.png', image);
    overflow: hidden;
    border-bottom: 1px solid;
    position: relative;

    #site_logos {
      padding: 0 40px;

      $site_logos-sprite-dimensions: true;
      @import 'public/home/site_logos/*.png';
      @include all-site_logos-sprites;

      a {
        display: inline-block;
        margin: 40px;
      }
    }
  }

  #south {
    padding-top: 60px;

    div {
      @include text-shadow(rgba($_999, 1) 2px -1px 45px);
      @include opacity(.9);
      color: $_000;
      font-size: 60px;
      position: fixed;
      bottom: 10px;
      left: 25px;
    }
  }
}
