#public_home_index {
  background: asset-url('public/home/horizontal_stripe_pattern.png', image);

  #north {
    background: asset-url('public/home/vertical_stripe_pattern.png', image);
    border-top: 1px solid $_07ff00;
    border-bottom: 1px solid $_07ff00;
    overflow: hidden;

    div {
      margin: 0 40px;
      font-family: 'SubwayTicker';
      font-size: 50px;
      letter-spacing: 10px;
      line-height: 80px;
      float: left;
    }
  }

  #central {
    overflow: hidden;
    border-bottom: 1px solid;
    position: relative;

    #site_logos {
      background: asset-url('public/home/vertical_stripe_pattern.png', image);
      border-right: 1px solid;
      float: left;
      padding: 0 40px;

      $site_logos-sprite-dimensions: true;
      @import 'public/home/site_logos/*.png';
      @include all-site_logos-sprites;

      a {
        display: block;
        margin: 40px auto;
      }
    }

    #stuff {
      color: $_555;
      padding: 0 5px 5px 0;
      position: relative;
      left: 8px;
      top: 5px;

      span:first-child {
        color: $_ff00cf;
      }
    }
  }

  #south {
    text-align: center;
  }
}
