#public_home_index {

  #north {
    border-top: 1px solid $_07ff00;
    border-bottom: 1px solid $_07ff00;
    overflow: hidden;

    & > div {
      margin: 0 auto;
      max-width: 1280px;
      min-width: 860px;

      & > div {
        margin: 10px 0;
        width: 50%;
        text-align: center;

        &:first-child {
          font-family: 'SubwayTicker';
          font-size: 50px;
          letter-spacing: 10px;
          line-height: 80px;
          float: left;

          & + div {
            float: right;
          }
        }
      }
    }
  }

  #central {
    overflow: hidden;

    #holes {
      min-height: 200px;

      & > div:first-child {
        margin: 0 auto;
        display: block !important;
      }
    }

    #links {
      border-top: 1px solid $_07ff00;

      & > div {
        margin: 0 auto;
        max-width: 1280px;
        min-width: 860px;

        ul {
          margin: 10px 0;

          li {
            display: inline;
            margin: 0 10px;
          }
        }
      }
    }

    #stripes {

      div {
        background: $_07ff00;
      }
    }
  }
}
