%section#public_home_index

  %section#north

    %div odaacabeef.com

  %section#central

    #site_logos

      = link_to '', 'http://github.com/trotttrotttrott', :class => 'site_logos-github', :target => '_blank', :title => 'trotttrotttrott on Github'
      = link_to '', 'http://trotttrotttrott.com', :class => 'site_logos-octopress', :target => '_blank', :title => 'trotttrotttrott\'s Octopress blog'
      = link_to '', 'http://twitter.com/trotttrotttrott', :class => 'site_logos-twitter', :target => '_blank', :title => 'trotttrotttrott on Twitter'
      = link_to '', 'http://www.linkedin.com/in/trotttrotttrott', :class => 'site_logos-linkedin', :target => '_blank', :title => 'trotttrotttrott on LinkedIn'

  %section#south
